.hero-section {
  .hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .hero-content {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}