.hero-cards {
    border-radius: var(--single-card);


    .hero-content-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: var(--xl);
        color: var(--a-black);
        padding: var(--xl);

        .hero-image {
            display: none;
        }

        .hero-tip {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px 10px;
            background-color: rgba(255, 255, 255, 0.432);
            width: fit-content;
            border-radius: var(--default);
            text-transform: uppercase;

            span {
                font-weight: 600;
                color: var(--a-black);
            }

            svg {
                width: 24px;
                height: 24px;

            }
        }

        .hero-text {
            line-height: 1.25;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 16px;

            h2 {
                font-size: var(--2xl);
            }

            p {
                font-size: var(--lg);
                line-height: 1.625;
            }

            span {

                padding-left: 10px;
                transition: padding-left 0.3s ease;
            }

            a {
                font-weight: 700;
            }

            a:hover {
                cursor: pointer;

                span {
                    padding-left: 15px;
                    transition: padding-left 0.3s ease;
                }

            }

        }
    }

    @media (min-width: 768px) {
        .hero-content-container {
            max-width: 80%;

            .hero-text {
                h2 {
                    font-size: var(--3xl);
                }

                a {
                    font-size: var(--lg);
                }
            }

        }
    }

    @media (min-width: 1023px) {
        .hero-content-container {
            padding: var(--2xl);

            .hero-text {

                gap: 22px;

            }
        }
    }

    @media (min-width: 1439px) {
        .hero-content-container {
            max-width: 100%;

            .hero-content {
                display: flex;
                align-items: center;
                gap: 20px;

                .hero-image {
                    display: block;

                    img {
                        border-radius: var(--single-card);
                        width: 300px;
                        --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
                        --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
                        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
                        transition: transform 0.3s ease;
                        transform: rotate(3deg);
                    }

                    img:hover {
                        cursor: pointer;
                        transform: rotate(0deg);
                        transition: transform 0.3s ease;
                    }
                }

                
            }
        }
    }

    @media (min-width: 1600px) {
        .hero-content-container {
            padding: var(--4xl);

            .hero-content {

                gap: 360px;
            }
        }
    }
}

.card-black,
.btn-black {
    background-color: var(--a-black);
}

.card-pink,
.btn-pink {
    background-color: var(--primary);
}

.card-green,
.btn-green {
    background-color: var(--secondary);
}

.card-yellow,
.btn-yellow {
    background-color: var(--accent);
}

.card-blue,
.btn-blue {
    background-color: var(--info);
}

.btn-black,
.btn-pink,
.btn-green,
.btn-yellow,
.btn-blue {
    color: var(--a-white);
}