.post-page{
    .container{
        max-width: 1200px;
    }
    .post{
        h1{
                margin: 40px 0;
    font-size: var(--xl);
        }
        strong{
            font-weight: bold;
        }
        h2{
            font-size: var(--xl);
            font-weight: 600;
            padding-bottom: 20px;
        }
        h3{
            font-size: var(--lg);
            font-weight: 600;
            padding-bottom: 20px;
        }
        h4, h5{
            font-size: var(--md);
            font-weight: 600;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 12px;
            
        }
        li{
            padding-bottom: 6px;
        }
        .wp-block-image{
            display: flex;
            .aligncenter{
                margin: 0 auto;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
        .share-section{
            display: flex;
    align-items: center;
    gap: 20px;
            h3{
                padding: 0;
            }
            span{
                cursor: pointer;
            }
        }
   
     
        .share-2{
            padding-bottom: 30px;
        }
    }
    .posts-container{
        .post-card{
            max-height: 500px;
        }
    } 
    .continue-reading{
        margin-top: 30px;
    } 
    @media (min-width:1023px) {
        .post{
            h1{
                font-size: var(--2xl);
            }
        }
    }
}